/* Home Counter */
.home-count {
    font-size: 3.5em;
    font-weight: 600;
    padding: 35px 0;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
.m-1{
    margin: 10px;
}
.m-2{
    margin: 20px;
}
.m-3{
    margin: 30px;
}
.m-4{
    margin: 40px;
}
.m-5{
    margin: 50px;
}